{# src/Acme/BlogBundle/Resources/views/Blog/menu.html.twig #}

{#% extends 'AcmeBlogBundle::layout.html.twig' %#}

{% block menu %}
  <ul>
    <li class="title">Nejnovější</li>
    {% for article in articles %}
      <li><a href="{{ path('get_article', {'id': article.getId}) }}">{{ article.getTitle }}</a></li>
    {% endfor %}
  </ul>
{% endblock %}
